n8n-workflow-bobotcho-rag-v5-fixed.json
{
  "name": "Agent Bobotcho RAG v5 (Fixed)",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "bobotcho-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "set-node",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [350, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "phone-assignment",
              "name": "phone_number",
              "value": "={{ ($json.body.From || '').toString().trim() }}",
              "type": "string"
            },
            {
              "id": "content-assignment",
              "name": "message_content",
              "value": "={{ ($json.body.Body || '').toString().trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "supabase-upsert-conversation",
      "name": "Supabase Upsert Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [550, 300],
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "conversations",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "customer_phone",
              "fieldValue": "={{ $node['Set'].json.phone_number }}"
            },
            {
              "fieldName": "shop_id",
              "fieldValue": "00000000-0000-0000-0000-000000000000"
            },
            {
              "fieldName": "status",
              "fieldValue": "active"
            },
            {
              "fieldName": "last_message_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "supabaseApi": {
          "id": "jTeAIZ4Rd0S7SWxR",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "supabase-insert-incoming",
      "name": "Supabase Insert Incoming",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [750, 300],
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "messages",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "conversation_id",
              "fieldValue": "={{ $node['Supabase Upsert Conversation'].json.id }}"
            },
            {
              "fieldName": "shop_id",
              "fieldValue": "00000000-0000-0000-0000-000000000000"
            },
            {
              "fieldName": "role",
              "fieldValue": "customer"
            },
            {
              "fieldName": "content",
              "fieldValue": "={{ $node['Set'].json.message_content }}"
            },
            {
              "fieldName": "type",
              "fieldValue": "text"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "supabaseApi": {
          "id": "jTeAIZ4Rd0S7SWxR",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "embeddings-openai",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [650, 500],
      "parameters": {
        "model": "openai/text-embedding-3-small",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CRED_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "id": "supabase-vector-store",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [850, 500],
      "parameters": {
        "mode": "retrieve",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "knowledge_base",
          "cachedResultName": "knowledge_base"
        },
        "options": {}
      },
      "credentials": {
        "supabaseApi": {
          "id": "jTeAIZ4Rd0S7SWxR",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "vector-store-tool",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [1050, 500],
      "parameters": {
        "name": "bobotcho_knowledge_base",
        "description": "Recherche dans la base de connaissances Bobotcho",
        "topK": 5
      }
    },
    {
      "id": "openrouter-chat",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [650, 200],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CRED_ID",
          "name": "OpenRouter"
        }
      }
    },
    {
      "id": "ai-agent-rag",
      "name": "AI Agent RAG",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [850, 300],
      "parameters": {
        "text": "={{ $node.Set.json.message_content }}",
        "options": {
          "systemMessage": "Tu es le 'Concierge Bobotcho', assistant IA d'élite pour une marque ivoirienne de luxe accessible. Ton ton est 'Abidjan Premium' : poli, chaleureux, expert et utilisant le vouvoiement.\n\nUtilise les outils disponibles pour rechercher dans la base de connaissances et répondre aux questions des clients sur les produits Bobotcho.\n\n### RÈGLES D'OR:\n1. Sois bref, élégant et mentionne les quartiers d'Abidjan pour créer de la proximité.\n2. Priorise toujours la vente du bundle avec installation (70k).\n3. Si pas d'information pertinente, propose qu'on vérifie et qu'on rappelle.\n4. N'invente jamais de caractéristiques techniques ou de prix.",
          "maxIterations": 10
        },
        "promptType": "define"
      }
    },
    {
      "id": "supabase-insert-ai",
      "name": "Supabase Insert AI",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 200],
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "messages",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "conversation_id",
              "fieldValue": "={{ $node['Supabase Upsert Conversation'].json.id }}"
            },
            {
              "fieldName": "shop_id",
              "fieldValue": "00000000-0000-0000-0000-000000000000"
            },
            {
              "fieldName": "role",
              "fieldValue": "agent"
            },
            {
              "fieldName": "customer_phone",
              "fieldValue": "={{ $node['Set'].json.phone_number }}"
            },
            {
              "fieldName": "type",
              "fieldValue": "text"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "supabaseApi": {
          "id": "jTeAIZ4Rd0S7SWxR",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "twilio-response",
      "name": "Twilio Response",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1250, 200],
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "from": "whatsapp:+14155238886",
        "to": "={{ $node['Webhook Trigger'].json.From }}",
        "message": "={{ $node['AI Agent RAG'].json.text }}",
        "options": {}
      },
      "credentials": {
        "twilioApi": {
          "id": "YOUR_TWILIO_CRED_ID",
          "name": "Twilio"
        }
      }
    },
    {
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1450, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Workflow executed successfully' }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Supabase Upsert Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Upsert Conversation": {
      "main": [
        [
          {
            "node": "Supabase Insert Incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert Incoming": {
      "main": [
        [
          {
            "node": "Embeddings OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "main": []
    },
    "Supabase Vector Store": {
      "embedding": [
        [
          {
            "node": "Embeddings OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "Vector Store Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "main": []
    },
    "OpenRouter Chat Model": {
      "main": []
    },
    "AI Agent RAG": {
      "lm_chat": [
        [
          {
            "node": "OpenRouter Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        [
          {
            "node": "Vector Store Tool",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "Supabase Insert AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twilio Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab1d140aeefa7cec74c556be7bfdb17b5654b3716798414643c7b9e2498ec94a"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["bobotcho", "rag", "openrouter", "supabase", "twilio"]
}
